.layout {
  display: grid;
  grid-template-areas: 
    "patients-list diagnosis-history patient-profile"
    "patients-list diagnostic-list patient-profile";
}

.patients-list {
  grid-area: patients-list;
  height: 50vh;
}

.diagnosis-history {
  grid-area: diagnosis-history;
}

.patient-profile {
  grid-area: patient-profile;
}

.diagnostic-list {
  grid-area: diagnostic-list;
}