li {
  list-style-type: none;
}

.layout {
  display: grid;
  grid-template-areas: 
    "patients-list diagnosis-history patient-profile"
    "patients-list diagnostic-history patient-profile"
    "patients-list diagnostic-list lab-results";
}

.patients-list {
  grid-area: patients-list;
  height: 50vh;
}

.diagnosis-history {
  grid-area: diagnosis-history;
}

.patient-profile {
  grid-area: patient-profile;
}

.diagnostic-list {
  grid-area: diagnostic-list;
}

.lab-results {
  grid-area: lab-results;
}