li {
  list-style-type: none;
}

.inline {
  display: inline;
}

.layout {
  display: grid;
  grid-template-areas: 
    "navigation navigation navigation"
    "patients-list diagnosis-history patient-profile"
    "patients-list diagnostic-history patient-profile"
    "patients-list diagnostic-list lab-results";
}

.navigation {
  background-color: white;
  border-radius: 70px;
  padding: 15px 25px;
  justify-content: space-around;
  align-items: center;
  margin-top: .5em;
  display: grid;
  grid-area: navigation;
  grid-template-areas:
    "logo overview patients schedule message transaction doc-info settings";
}

.logo {
  grid-area: logo;
}

.overview {
  grid-area: overview;
  display: flex;
}

.overview img {
  height: 17px;
  margin: 17px;
}

.patients {
  background-color: #01F0D0;
  border-radius: 70px;
  grid-area: patients;
  display: flex;
  padding-right: 1em;
}

.patients img {
  height: 17px;
  margin: 17px;
}

.schedule {
  grid-area: schedule;
  display: flex;
}

.schedule img {
  height: 17px;
  margin: 17px;
}

.message {
 grid-area: message;
 display: flex;
}

.message img {
  height: 17px;
  margin: 17px;
}

.transaction {
  grid-area: transaction;
  display: flex;
}

.transaction img {
  height: 17px;
  margin: 17px;
}

.overview p,
.patients p,
.schedule p,
.message p,
.transaction p {
  margin-top: 14px;
  font-family: Manrope-Bold;
}

.doc-info {
  display: grid;
  grid-area: doc-info;
  grid-column-gap: 1em;
  grid-template-areas: 
    "doc-img doc-name"
    "doc-img doc-title";
} 

.doc-img {
  grid-area: doc-img;
  margin-top: 10px
}

.doc-name {
  grid-area: doc-name;
  margin-top: 5px;
  margin-bottom: 0px;
  font-family: Manrope-Bold;
}

.doc-title {
  grid-area: doc-title;
  margin-top: 0px;
  color: #707070;
}

.settings {
  grid-area: settings;
}

.gear {
  margin-right: 1em;
}

.patients-list {
  grid-area: patients-list;
  margin: 1em; 
  background-color: white;
  border-radius: 16px; 
  padding: 1em;
  height: 1000px
}

.patients-list-ul {
  padding: 0;
  height: 950px;
  overflow-y:auto;
}

.selected-patient {
  background-color: #D8FCF7;
}

.patient-style {
  display: grid;
  grid-template-columns: .25fr .5fr .25fr;
  padding: 1em .5em;
  grid-template-areas: 
    "patient-img patient-name horiz-dots"
    "patient-img age-gender horiz-dots";
}

.patients-head {
  display: grid;
  grid-template-areas: "patients-head-h3 patients-head-img"
}

.patients-head h3 {
  grid-area: patients-head-h3;
  margin-bottom: 0;
  margin-top: 0;
  font-family: Manrope-Bold;
  font-size: 24px
}

.patients-head img {
  grid-area: patients-head-img;
  align-self: center;
  justify-self: right;
}

.patient-img {
  grid-area: patient-img;
  height: 47px;
} 

.patient-name {
  grid-area: patient-name;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Manrope-Bold;
}

.age-gender {
  grid-area: age-gender;
  color: #707070;
  font-size: 14px;
}

.horiz-dots {
  grid-area: horiz-dots;
  align-self: center;
  justify-self: right; 
}

.diagnosis-history {
  grid-area: diagnosis-history;
  margin: 1em;
  padding: 1em;
  background-color: white;
  border-radius: 16px;
}

.diagnosis-history h3 {
  font-family: Manrope-Bold;
  font-size: 24px;
}

.chart-bp-background {
  background-color: #F4F0FE;
  border-radius: 16px;
  padding: 1em;
}
 
.bp-head {
  display: grid;
  grid-template-columns: .4fr .15fr .05fr;
  grid-template-areas: "bp-head-title date-range bp-head-arrow";
}

.bp-head p {
  margin-top: 0;
  margin-bottom: 0;
}

.bp-head-title {
  grid-area: bp-head-title;
  font-family: Manrope-Bold;
  font-size: 18px;
}

.date-range {
  grid-area: date-range;
  font-size: 14px;
  text-align: end;
  align-self: center;
}

.bp-head-arrow {
  grid-area: bp-head-arrow;
  height: 6px;
  align-self: center;
  margin-left: .5em;
}

.diagnosis-history h3 {
  margin-top: 0;
}

.chart-bp {
  display: grid;
  grid-template-areas: "line-chart bp";
}

.line-chart { 
  grid-area: line-chart;
}

.bp {
  grid-area: bp;
}

.systolic {
  color: #E66FD2;
}

.diastolic {
  color: #8C6FE6;
}

.systolic img,
.diastolic img {
  margin-right: .5em;
  vertical-align: middle;
}

.systolic p,
.diastolic p {
  font-size: 22px;
  margin-bottom: 0;
  font-family: Manrope-Bold;
}

.line-chart {
  max-width: 70vw;
}

.diagnosis-history-ratings {
  display: grid;
  grid-template-columns: .33fr .33fr .33fr;
  grid-template-areas: "resp-rate temp heart-rate"
}

.ratings-title {
  margin-bottom: 0;
}

.resp-rate {
  grid-area: resp-rate;
  background-color: #E0F3FA;
}

.ratings-value {
  font-family: Manrope-Bold;
  font-size: 30px;
  margin-top: 0;
}

.heart-rate-down-arrow {
  margin-right: .5em;
}

.temp {
  grid-area: temp;
  background-color: #FFE6E9;
}

.heart-rate {
  grid-area: heart-rate;
  background-color: #FFE6F1;
}

.resp-rate,
.temp,
.heart-rate {
  border-radius: 16px;
  padding: 1em;
  margin: 1em 1em 1em 0;
}

.patient-profile { 
  grid-area: patient-profile;
  background-color: white;
  padding: 1em;
  margin: 1em;
  border-radius: 16px;
}
 
.patient-profile-desc {
  display: grid;
  grid-template-columns: .2fr .8fr;
  grid-template-areas: "patient-profile-desc-img patient-profile-info";
  margin-bottom: 1em;
}

.patient-profile-desc img {
  grid-area: patient-profile-desc-img;
  align-self: center;
  justify-self: end;
  margin-right: .5em;
}

.patient-profile-info {
  grid-area: patient-profile-info;
}

.patient-profile-info p:first-of-type {
  font-family: Manrope-Bold;
}

.patient-profile-info p {
  margin-top: 0;
  margin-bottom: 0;
}

.patient-profile-pic {
  display: block;
  height: 200px;
  margin: 0 auto;
}

.patient-profile-name {
  font-family: Manrope-Bold;
  font-size: 30px;
  text-align: center;
}

.show-all-info {
  background-color: #01F0D0;
  padding: 1em;
  border-radius: 41px;
  text-align: center;
  font-family: Manrope-Bold;
  margin: 2em auto 0 auto;
  width: 60%;
}

.diagnostic-list {
  grid-area: diagnostic-list;
  background-color: white;
  padding: 1em;
  margin: 0 1em 1em 1em;
  border-radius: 16px;
} 

.diagnostic-list h3 {
  font-family: Manrope-Bold;
  font-size: 24px;
}

.diagnostic-list ul {
  padding-left: 1em;
}

.list-header {
  background-color: #F6F7F8;
  border-radius: 16px;
  padding-left: 1em;
  display: grid;
  grid-template-columns: .3fr .5fr .2fr;
  grid-template-areas: "problem-diag list-desc list-status"
}

.problem-diag {
  grid-area: problem-diag;
}

.list-desc {
  grid-area: list-desc;
}

.list-status {
  grid-area: list-status;
}

.problem-diag,
.list-desc,
.list-status {
  font-family: Manrope-Bold;
}

.list-layout {
  border-bottom: solid 1px lightgray;
  display: grid;
  grid-template-columns: .3fr .5fr .2fr;
  grid-template-areas: "ll-name ll-desc ll-status";
}

.ll-name {
  grid-area: ll-name;
}

.ll-desc {
  grid-area: ll-desc;
}

.ll-status {
  grid-area: ll-status;
}

.lab-results {
  background-color: white;
  padding: 1em; 
  margin: 1em;
  grid-area: lab-results;
  border-radius: 16px;
}

.lab-results h3 {
  font-family: Manrope-Bold;
  font-size: 24px;
  margin-top: 0;
}

.result-layout {
  display: grid;
  grid-template-columns: .8fr .2fr;
  grid-template-areas: "results-name results-dl-btn";
}
 
.result-li {
  background-color: white;
  padding-left: 1em;
}

.result-li:hover {
  background-color: #F6F7F8;
}

.result-name {
  grid-area: results-name;
}
 
.result-dl-btn {
  grid-area: results-dl-btn;
  align-self: center;
}
